#avatar-document {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* .username-document{

} */
.email-document {
  font-weight: 200;
}

.create-document,
.save-document {
  cursor: pointer;
  font-weight: 600;
  padding: 5px;
}
.save-document {
  margin-left: 25px;
}
.active1 {
  padding-bottom: 10px; /* Khoảng cách từ gạch chân đến chữ */
  box-shadow: inset 0 -8px 0 -5px rgb(100, 100, 115); /* Màu sắc và kích thước gạch chân */
}
.choice-create {
  margin-top: 40px;
  margin-bottom: 40px;
}
.create-document:hover,
.save-document:hover {
  background-color: lightgray;
  border-radius: 8px;
}
.render-img-create,
.render-img-save {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.img-created,
img-saved {
  width: 150px;
  height: 180px;
  border-radius: 8px;
}
