#wrap-cards {
  margin-top: 100px;
}
#id-itembar {
  display: flex;
}
.cl-image img {
  border-radius: 20px;
}
/* phân trang */

.btn-pagination:hover {
  background-color: #ccc !important;
}
.btn-pagination {
  width: 40px !important;
  height: 40px !important;
  font-size: 22px !important;
  background-color: rgb(110, 74, 74) !important;
  color: black;
  border-radius: 50% !important;
  font-weight: 600 !important;
  vertical-align: middle;
  z-index: 1000 !important;
  border: none !important;
  padding-top: 2px !important;
}
.pre-pagination {
  background-color: #be9f9f !important;
  font-weight: 600 !important;
  font-size: 25px !important;
  border: none !important;
  width: 50px !important;
  height: 50px !important;
  padding-top: 3px !important;
  border-radius: 50% !important;
  color: white !important;
  z-index: 1000 !important;
}

.pagination {
  left: 40%;
  position: fixed;
  bottom: 10px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 10px 10px 10px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px !important;
  gap: 4px;
  backdrop-filter: blur(8px);
}
