.cl-hover:hover {
  background-color: #e1e1e1;
  cursor: pointer;
  border: none;
  background-size: 100px;
  /* padding: 5px; */
  border-width: 10px;
  /* width: 80px;
  height: 80px; */
  border-radius: 50%;
}
#header1 {
  vertical-align: middle;
  padding: 20px 5px;
  text-align: center;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 100;
}
#ip-search {
  width: 100%;
  background-color: #e1e1e1;
  position: relative;
  border: none;
  border-radius: 40px;
  padding: 15px 45px;
  outline: none;
  border: 1px solid #ccc;
}
#icon-search {
  position: absolute;
  z-index: 100;
  font-size: 22px;
  cursor: pointer;
  margin-left: 1.2%;
}
#left-header1 {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

#bell,
#message,
#avatar,
#minilogo {
  width: 20px;
  height: 20px;
  color: grey;
  padding: 10px;
  box-sizing: content-box;
  transition: 0.2s;
}

#minilogo {
  width: 50px;
  height: 50px;
  color: grey;
  box-sizing: border-box;
}

#avatar {
  border-radius: 50%;
}
#arrow-avatar {
  box-sizing: content-box;
  padding: 5px;
  font-weight: 800;
  font-size: 20px;
  color: rgb(190, 131, 54);
}
#arrow-avatar:hover {
  background-color: #e1e1e1;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
#btn-mainpage {
  padding: 12px;
  background-color: rgb(24, 225, 24);
  color: white;
  border-radius: 40px;
  font-weight: 600;
  transition: 0.2s;
  border: none;
}
#right-header1 {
  display: flex;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}
#btn-create {
  border: none;
  background-color: white;
  font-weight: 600;
  color: rgb(132, 100, 18);
}

/* csss menu tại nút mũi tên bên phải */
.menu-dropdown {
  display: block;
  position: absolute;
  top: 70px;
  right: 5px;
  background-color: #ebdbdb !important;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  color: black;
}

.open .menu-dropdown {
  display: block;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menu-item {
  padding: 5px;
  cursor: pointer;
}

.menu-item.hover {
  background-color: lightgray;
}
.logout {
  font-weight: 500;
  padding: 10px 15px;
  cursor: pointer;
}
